.box1{
    background: linear-gradient(
        to right,
        skyblue 0,
        skyblue 40%,
        purple 40%,
        purple 100% 
    );
    border: 2px solid gray;
}

.box2{
    background-color: red;
    border: 2px solid blue;
}

.box3{
    background-color: black;
    border: 2px solid ;
}

.box{
    width: 50%;
    height: 50vw;
    margin: 20px auto;
    padding: 10px;
}